* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.background {
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    color: white;
}

.header {
    text-align: center;
}

.book-container {
    display: flex;
    flex: 1;
    gap: 5%;
}

.book-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #ffffff8c;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.book-item p {
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

.book-item p::before {
    font-size: 10px;
    margin-bottom: 3px;
    display: block;
}

.book-item p:first-child::before {
    content: "Book Title";
}

.book-item p:nth-child(2)::before {
    content: "Author";
}

.book-item p:nth-child(3)::before {
    content: "Total Pages";
}

.book-item p:nth-child(4)::before {
    content: "Status";
}